
<div class="row">
	<div class="col-xs-12">
		<div class="pull-right">
		<button class="btn btn-default" type="button" (click)="addNote()"><i class="fa fa-plus" ></i>  Add Note</button>
	</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
<form (ngSubmit)="saveNote(form)" #form="ngForm">
	
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="title">Title</label>
				<input type="text" name="title" id="title" class="form-control" ngModel #title="ngModel">
			</div>
		</div>
	</div>
		
		<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="body">Body</label>
				<textarea name="body" ngModel class="form-control" #body="ngModel"></textarea>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<button type="submit" class="btn btn-primary pull-right">Save</button>
		</div>
	</div>
</form></div></div>