
<div class="row" *ngFor="let note of notes;let i=index" (click)="onEdit(i)">
	<div class="col-xs-12">
<i class="fa fa-question-circle pull-right"></i>
<a style="cursor: pointer;" 
class="list-group-item clearfix"
 >
			<div class="panel">
				<div class="panel-heading" class="list-group-item-heading">{{ note.title }}
				<i class="fa fa-times pull-right" title="Delete" (click)="deleteNote(i)"></i></div>
				<div class="panel-body" class="list-group-item-text">{{ note.body }}</div>
			</div>
			
		</a>
		 <div>
	</div>
</div>
</div>