
<div class="row">
	<div class="col-xs-12">
		<div class="pull-right">
		<button class="btn btn-default" type="button" (click)="addNote()"><i class="fa fa-plus" ></i>  Add Note</button>
	</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
<form (ngSubmit)="saveNote(form)" #form="ngForm">
	
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="title">Title</label>
				<input type="text" name="title" id="title" class="form-control" #title="ngModel" ngModel required>
				<div *ngIf="form.submitted && title.invalid">Title is required</div>
				                   

			</div>
		</div>
	</div>
		
		<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="body">Body</label>
				<textarea name="body"  class="form-control" #body="ngModel" ngModel required></textarea>
				<div *ngIf="form.submitted && body.invalid">Body is required</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<button type="submit" class="btn btn-primary pull-right">{{ editMode ? 'Update' : 'Save'}}</button>
		</div>
	</div>
</form></div></div>